{% extends 'base.html' %}

{% block title %}{{ block.super }} - Home{% endblock %}

{% block content_title %}Welcome to Our Music Store{% endblock %}

{% block content %}
    <p>
        Welcome to our fictional music store, where you can explore and purchase a variety of musical instruments.
        Whether you're a professional musician or just getting started, we have something for everyone!
    </p>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Explore Products</h5>
                    <p class="card-text">Browse our collection of instruments and accessories.</p>
                    <a href="{% url 'products' %}" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>

        {% if user.is_authenticated %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Your Orders</h5>
                        <p class="card-text">View and manage your order history.</p>
                        <a href="{% url 'orders' %}" class="btn btn-primary">View Orders</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <p class="card-text">Already a member? Login to access your account.</p>
                        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
