{% extends 'base.html' %}

{% block title %}{{ block.super }} - Products{% endblock %}

{% block content_title %}Explore Our Products{% endblock %}

{% block content %}
        <div class="container .d-inline-flex mt-4">
            <div class="row justify-content-center">
                <div class="col-md-6 d-flex">
                    <div class="card mx-2">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-4">Product Filters</h2>
                            <form method="get" action="{% url 'products' %}" class="d-flex flex-wrap justify-content-between align-items-center">
                                <div class="mb-3 flex-grow-1 mr-2">
                                    <label for="price" class="form-label">Price:</label>
                                    <input type="number" name="price" class="form-control" placeholder="Enter max price">
                                </div>
                                <div class="mb-3 flex-grow-1 mr-2">
                                    <label for="category" class="form-label">Category:</label>
                                    <select name="category" class="form-select">
                                        <option value="" selected>All Categories</option>
                                        {% for category in categories %}
                                            <option value="{{ category }}">{{ category }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary mt-3 px-4 py-2">Apply Filters</button>
                            </form>
                        </div>
                    </div>
                    <!-- Add more cards with mx-2 for additional spacing -->
                </div>
            </div>
        </div>


        <div class="row mt-4">
            {% for product in filtered_products %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="{{ product.Image_url }}" class="card-img-top" alt="{{ product.Name }} Cover">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.Name }}</h5>
                            <p class="card-text">{{ product.Description }}</p>
                            <p class="card-text">Price: ${{ product.Price }}</p>
                            <a href="{% url 'make_order' product.id %}" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
